.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex: 1;
  background-color: #007bff22;
}

.heading {
  text-align: center;
  margin-bottom: 0px;
}

.videoContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.nav {
  display: flex;
  justify-content: space-around;
}

.btn {
  background-color: #007bff;
  cursor: pointer;
  border-radius: 5;
  padding: 4px 8px;
  color: #ffffff;
  font-size: 20px;
}

.input {
  display: flex;
  height: 24px;
  align-self: center;
}
